.progress {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider {
    appearance: none;
    width: 100px; 
    height: 4px; 
    background: #151616;
    outline: none;
    border-radius: 9999px;
}

.slider:hover {
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px; 
    height: 20px; 
    background:#000000; 
    border-radius: 9999px;
}

.slider::-moz-range-thumb {
    width: 4px; 
    height: 4px; 
    background: #00abae;
    border-radius: 9999px;
}

.tooltip {
    color: #00abae;;
    font-size: 0.8rem;
}
